.row
  - @movies.each do |movie|
    .col-sm-6.col-md-4
      .thumbnail
        .thumbnail-img
          =link_to (image_tag "#{movie.pic_url}"), movie
        .caption
          %div= "Title: #{movie.title}"
          %div= "ID: #{movie[:id]}"
          %div= "Genre: #{movie.genre}"
          %div= "Year: #{movie.year}"
