%h1 Movie App

- @movies.each do |movie|
  .movie_container
    = image_tag movie.pic_url
    %div= "ID: #{movie[:id]}"
    = link_to "Title: #{movie.title}", movie
    %div= "Genre: #{movie.genre}"
    %div= "Year: #{movie.year}"
    %div= "Synopsis: #{movie.synopsis}"
    = link_to "Edit", "./movies/#{movie.id}/edit"
    = link_to "Delete", movie, method: :delete, data: {confirm: 'Are you sure?'}

= button_to "New", new_path, class: 'btn-success'
